// Will edit everything selected including everything between a range of dates
.CalendarDay__selected_span {
    background: #82e0aa; //background
}

.CalendarMonth_caption {
    font-size: 15px;
    padding-top: 26px;
    padding-bottom: 42px;
}

.DateRangePickerInput {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.DateInput svg[role="presentation"] {
    top: 35px !important;
}

.SingleDatePickerInput_calendarIcon {
    margin: 0px;
    padding: 5px;
    line-height: inherit;
}

.SingleDatePicker {
    width: fit-content;
}

.DateInput_input__small {
    line-height: 16px;
    padding: 6px 7px 3px;
    color: #024047;
    text-align: center;
}

.date_picker_long_input .DateInput__small {
    width: 184px;
}

:root {
  --date_picker_margin: 3px;  
}

.date_picker_long_input {
    display: flex;

    & .date_picker_prev_week_btn,
    & .date_picker_next_week_btn {
        justify-content: center;
        align-items: center;
        background:white;
        border: 0px;
        &::after {
            content: "";
            display: block;
            width: clamp(20px, 1vmax, 16px);
            height: clamp(20px, 1vmax, 16px);
            background: #024047;
            mask-repeat: no-repeat;
            mask-position: center;
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-image: url('../../images/drop-down.svg');
            -webkit-mask-image: url('../../images/drop-down.svg');
        }
    }

    & .date_picker_prev_week_btn {
        // margin-right: var(--date_picker_margin);
        &::after {
            transform: rotate(90deg);
            margin:0px 0.35vmax 0px 0.3vmax;
        }
    }

    & .date_picker_next_week_btn {
        // margin-left: var(--date_picker_margin);
        &::after {
            transform: rotate(-90deg);
            margin:0px 0.30vmax 0px 0.35vmax;
        }
    }

    & .DateInput svg[role="presentation"] {
        left: 82.5px;
    }

    & .SingleDatePicker_picker {
        left: -33px !important;
    }
}

.DateInput__small {
    width: 91px;
}

.SingleDatePickerInput__withBorder, .DateRangePickerInput__withBorder {
    border-radius: 0.2vmax;
    border: 1px solid #b6b6b6;
    background: #f3f3f3;
}

// .DateRangePickerInput__withBorder {
//     background: white;
// }

.SingleDatePicker_picker, .DateRangePicker_picker {
    text-transform: capitalize;
    top: 46px !important;
}

.SingleDatePickerInput__showClearDate, .DateRangePickerInput__showClearDates {
    padding-right: 25px;
}

.SingleDatePickerInput_clearDate_svg, .DateRangePickerInput_clearDates_svg {
    transition: fill 0.2s ease;
}

.SingleDatePickerInput_clearDate, .DateRangePickerInput_clearDates {
    margin: -1px 0px 0px 0px;

    &:hover,
    &:focus {
        background: transparent;// Will edit everything selected including everything between a range of dates
        .CalendarDay__selected_span {
            background: #82e0aa; //background
        }
        
        .CalendarMonth_caption {
            font-size: 15px;
            padding-top: 26px;
            padding-bottom: 42px;
        }
        
        .DateInput svg[role="presentation"] {
            top: 35px !important;
        }
        
        .SingleDatePickerInput_calendarIcon {
            margin: 0px;
            padding: 5px;
            line-height: inherit;
        }
        
        .SingleDatePicker {
            width: fit-content;
        }
        
        .DateInput_input__small {
            line-height: 16px;
            padding: 6px 7px 3px;
            color: #024047;
            text-align: center;
        }
        
        .date_picker_long_input .DateInput__small {
            width: 184px;
        }
        
        :root {
          --date_picker_margin: 3px;  
        }
        
        .date_picker_long_input {
            display: flex;
        
            & .date_picker_prev_week_btn,
            & .date_picker_next_week_btn {
                justify-content: center;
                align-items: center;
                background:white;
                border: 0px;
                &::after {
                    content: "";
                    display: block;
                    width: clamp(20px, 1vmax, 16px);
                    height: clamp(20px, 1vmax, 16px);
                    background: #024047;
                    mask-repeat: no-repeat;
                    mask-position: center;
                    -webkit-mask-size: contain;
                    mask-size: contain;
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-position: center;
                    mask-image: url('../../images/drop-down.svg');
                    -webkit-mask-image: url('../../images/drop-down.svg');
                }
            }
        
            & .date_picker_prev_week_btn {
                // margin-right: var(--date_picker_margin);
                &::after {
                    transform: rotate(90deg);
                    margin:0px 0.35vmax 0px 0.3vmax;
                }
            }
        
            & .date_picker_next_week_btn {
                // margin-left: var(--date_picker_margin);
                &::after {
                    transform: rotate(-90deg);
                    margin:0px 0.30vmax 0px 0.35vmax;
                }
            }
        
            & .DateInput svg[role="presentation"] {
                left: 82.5px;
            }
        
            & .SingleDatePicker_picker {
                left: -33px !important;
            }
        }
        
        .DateInput__small {
            width: 91px;
        }
        
        .SingleDatePickerInput__withBorder {
            border-radius: 0.2vmax;
            border: 1px solid #b6b6b6;
            background: #f3f3f3;
        }
        
        .SingleDatePicker_picker {
            text-transform: capitalize;
            top: 46px !important;
        }
        
        .SingleDatePickerInput__showClearDate {
            padding-right: 25px;
        }
        
        .SingleDatePickerInput_clearDate_svg {
            transition: fill 0.2s ease;
        }
        
        .SingleDatePickerInput_clearDate {
            margin: -1px 0px 0px 0px;
        
            &:hover,
            &:focus {
                background: transparent;
            }
        
            &:hover .SingleDatePickerInput_clearDate_svg {
                fill: #606268;
            }
        }
    }

    &:hover .SingleDatePickerInput_clearDate_svg, &:hover .DateRangePickerInput_clearDates_svg {
        fill: #606268;
    }
}

.DateRangePickerInput_arrow {
    padding: 6.5px 0px;
    background: white;
}

@media (max-width: 392px) {
    .DateRangePickerInput {
        flex-direction: column;
    }
    .DateRangePickerInput_arrow {
        padding: 0px 43px;
    }
}