.account_activated_wrapper {
    font-family: 'Alegreya Sans', sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;
    & .languages_nav {
        top: 0.9vmax;
        right: 0.9vmax;
    }
}

.account_activated {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: clamp(270px, 41vw, 90vw);
    background: #ffffff;
    padding: 20px 15px;
    border-radius: 10px;
    & span {
        text-align: center;
        color: white;
        color: #486c70;
        font-size: clamp(20px, 2vw, 3vw);
    }
    & .header {
        font-size: clamp(27px, 2.8vw, 5vw);
        margin-bottom: 10px;
    }
}