// Will edit everything selected including everything between a range of dates
.CalendarDay__selected_span {
    background: #82e0aa; //background
}

.CalendarMonth_caption {
    font-size: 15px;
    padding-top: 26px;
    padding-bottom: 42px;
}

.DateInput svg[role="presentation"] {
    top: 35px !important;
}

.SingleDatePickerInput_calendarIcon {
    margin: 0px;
    padding: 5px;
    line-height: inherit;
}

.DateInput_input__small {
    line-height: 16px;
    padding: 6px 7px 3px;
    color: #024047;
}

.SingleDatePickerInput__withBorder {
    border-radius: 0.2vmax;
    border: 1px solid #b6b6b6;
    background: #f3f3f3;
}

.SingleDatePicker_picker {
    text-transform: capitalize;
    top: 46px !important;
}