.homework_wrapper {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    width: clamp(500px, 35vw, 62vw);
    font-family: 'Nunito', sans-serif;
    border-radius: 10px 10px 10px 10px;
    padding: clamp(12px, 1vmax, 50px);
    margin: 2em auto 2em;
}

.homework_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #bdbdbd;

    & span {
        font-size: clamp(16px, 1.3vmax, 2vmax);
        color: #486c70;
        margin-top: clamp(5px, 0.5vmax, 0.55vmax);
    }
}

.homework_add_btn {
    margin-bottom: 1.7vmax;
}

.homework_class_list_block {
    width: 100%;
    margin: 1vmax auto 0px;
    color: #024047;
}

.homework_class_list {
    display: flex;
    flex-direction: column;

    & li {
        display: flex;
        justify-content: space-between;
        font-size: clamp(16px, 1.2vmax, 2vmax);
        background: #f2f4f5;
        border-radius: 0.5vmax;
        padding: clamp(12px, 0.9vmax, 2vmax);

        &:not(:last-child) {
            margin-bottom: 1vmax;
        }

        & span {
            margin: auto 0;
        }
    }
}

.homework_li_buttons {
    display: flex;
    margin-left: 2vmax;

    & button:not(:last-child) {
        margin-right: clamp(4px, 0.5vmax, 0.5vmax)
    }

    & textarea {
        display: none;
    }
}

.homework_grey_btn {
    display: flex;
    padding: 6px;
    background: #ced4da;
    transition: 0.3s ease background-color;
    border-radius: clamp(8px, 0.5vmax, 1.5vw);

    &::before {
        content: "";
        display: block;
        margin: auto;
        width: clamp(16px, 1.6vmax, 2vmax);
        height: clamp(16px, 1.6vmax, 2vmax);
        background: white;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
    }

    &:hover {
        background: #adb5bd;
    }

    &:active {
        background: #858d96;
    }
}

.green_btn {
    font-size: clamp(16px, 0.8vmax, 1vmax);
    border-radius: clamp(4px, 0.2vmax, 1.5vw);
    color: rgb(252, 252, 252);
    background-color: #208b3a;
    padding: clamp(6px, 0.5vmax, 0.55vmax) clamp(12px, 0.7vmax, 1.05vmax);
    transition: 0.3s background-color;

    &:hover {
        background: #1a7431
    }

    &:active {
        background: #155d27
    }
}


.homework_li_add_homework_btn {
    &::before {
        mask-image: url('../../images/plus.svg');
        -webkit-mask-image: url('../../images/plus.svg');
    }

    background: #a5adb4;

    &:hover {
        background: #858d96;
    }

    &:active {
        background: #6c757d;
    }
}

.homework_li_students_homework_btn {
    &::before {
        mask-image: url('../../images/user.svg');
        -webkit-mask-image: url('../../images/user.svg');
    }
}

.homework_li_edit_homework_btn {
    &::before {
        mask-image: url('../../images/edit.svg');
        -webkit-mask-image: url('../../images/edit.svg');
    }
}

.homework_popup_wrapper {
    display: flex;
    position: fixed;
    top: 0vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.788);
    z-index: 50;
    visibility: hidden;
    padding: 10px 0px;
    overflow-y: scroll;
    opacity: 0;
    transition: opacity 0.25s ease, visibility 0.25s ease;
    &.homework_popup_active // когда активен

        {
        visibility: visible;
        opacity: 1;
    }
}

.homework_popup {
    display: none;
    flex-direction: column;
    border-radius: clamp(4px, 0.2vmax, 1.5vw);
    background: white;
    margin: auto;
    width: clamp(500px, 27vmax, 96vw);
    overflow-y: hidden;

    & span {
        text-align: center;
        font-size: clamp(16px, 0.7vw, 1vmax);
    }

    &.add_class_popup.homework_add_class_popup {
        display: flex;
    }

    &.edit_popup.homework_edit_popup {
        display: flex;
    }

    &.teachers_and_students_editor_popup.homework_students_editor {
        display: flex;
        width: clamp(500px, 35vw, 62vw);
    }

    &.add_homework_popup.homework_add_homework {
        display: flex;
        width: clamp(500px, 35vw, 62vw);
    }
}

.homework_popup_content {
    display: flex;
    flex-direction: column;
    padding: clamp(18px, 1vw, 23px);

    & .profile_data_fields_block {
        margin-bottom: clamp(20px, 1.1vmax, 1.5vw);
    }

    & .important_field {
        font-size: clamp(13px, 0.7vmax, 0.8vmax);
    }
}

.homework_popup_input_block {
    display: flex;
    flex-direction: column;
}

.homework_peaky_btn {
    margin: auto;
    font-size: clamp(16px, 0.8vmax, 1vmax);
    border-radius: clamp(4px, 0.2vmax, 1.5vw);
}

.homework_popup_buttons_wrapper {
    display: flex;
    justify-content: space-between;

    & .homework_peaky_btn {
        margin: 0;
    }
}

.homework_popup_delete_class_btn {
    margin-right: 0.5vmax;
    font-size: clamp(16px, 0.8vmax, 1vmax);
    border-radius: clamp(4px, 0.2vmax, 1.5vw);
    background-color: #e61503;

    &:hover {
        background: #cc1100;
    }

    &:active {
        background: #af060f;
    }
}

.popup_warning_span {
    display: inline-block;
    font-size: clamp(16px, 0.8vmax, 1.3vmax) !important;
    color: red;
    margin-bottom: clamp(20px, 1.1vmax, 1.5vw);
    visibility: hidden;
    opacity: 0;
    transition: 0.4s linear;

    &.homework_popup_warning_active {
        visibility: visible;
        opacity: 1;
    }
}

.copy_invite_link_popup {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 100vw;
    bottom: 0;
    padding: clamp(15px, 1vmax, 50px);
    font-size: clamp(16px, 1.2vmax, 2vmax);
    color: rgba(255, 255, 255, 0.904);
    opacity: 0;
    transition: 0.4s ease;
    z-index: 51;

    & .copy_invite_link_popup_span_wrapper {
        background: rgba(0, 0, 0, 0.7);
        padding: clamp(10px, 0.8vmax, 50px) clamp(25px, 1vmax, 50px);
        border-radius: 10px;
    }

    &.active_invite_copy_link_popup {
        transform: translateX(-100%);
        opacity: 1;
    }
}

.homework_popup_menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 15px;

    & li {
        display: flex;
        padding: clamp(15px, 0.8vmax, 50px) 10px;
        background-color: #f0f2f5;
        width: 32%;
        justify-content: center;
        cursor: pointer;
        transition: 0.4s;
        user-select: none;
        font-size: clamp(16px, 0.7vmax, 1vmax);

        &::before {
            content: "";
            display: block;
            background-color: white;
        }
    }
}

.active_popup_menu_students_list .homework_popup_students_menu_students_list,
.active_popup_menu_requests_list .homework_popup_students_menu_requests_list,
.active_popup_menu_invite_link .homework_popup_students_menu_invite_link,
.active_popup_menu_teachers_list .homework_popup_teachers_menu_teacher_list,
.active_popup_menu_teachers_requests_list .homework_popup_teachers_menu_requests_list,
.active_popup_menu_teachers_join .homework_popup_teachers_menu_join {
    color: white;
    background-color: #0183da;
}



.homework_popup_menu_item_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    background: #f0f2f5;
}

.homework_popup_menu_item_content_invite_link,
.homework_popup_menu_item_content_join {
    display: none;
    padding: 10px 0px;
    margin: auto;
}

.homework_popup_menu_item_content_invite_link.active_popup_menu_invite_link,
.homework_popup_menu_item_content_join.active_popup_menu_teachers_join {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.homework_popup_menu_item_content_invite_link_input_wrapper,
.homework_popup_menu_item_content_join_input_wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 18px;

    & input {
        width: 100%;
        margin-right: 9px;
        background: white;
        font-size: clamp(16px, 1.1vmax, 1.2vmax);
        color: #024047;
        padding: clamp(6px, 0.3vmax, 0.55vmax) clamp(12px, 0.5vmax, 1.05vmax);
        border-radius: 0.2vmax;
        resize: none;
    }

}

.homework_popup_menu_item_content_invite_link_inner_content,
.homework_popup_menu_item_content_join_inner_content {
    display: flex;
    flex-direction: column;
    width: 80%;

    & span {
        font-size: clamp(14px, 0.85vmax, 1.2vmax);
    }

    & span.hidden {
        display: none;
    }
}

.homework_popup_menu_item_content_join_inner_content .popup_warning_span {
    font-size: clamp(14px, 0.85vmax, 1.2vmax) !important;
    position: absolute;
    bottom: -3.75vh;
    left: 0px;
    right: 0px;
}

.homework_popup_btn {
    font-size: clamp(16px, 0.8vmax, 1vmax);
    border-radius: clamp(4px, 0.2vmax, 1.5vw);
}


.homework_popup_menu_item_content_teacher_card {
    grid-template-columns: minmax(55px, 1fr) 4fr;
    grid-template-areas: "img_wrapper info_card" "request_btn request_btn";
    width: 80%;
    gap: 10px;
    border: 2px dashed #bdbdbd;
    padding: 10px;
    overflow-wrap: anywhere;
    display: none;
    position: relative;  

    &.visible_card {
        display: grid;
        animation: user-card-animation 0.8s ease 0s 1 normal both;
    } 
    &.visible_card .check_mark {display: none;animation: user-card-animation 0.4s ease 0s 1 normal both;}
    &.visible_card.already_sent{user-select: none;}
    &.visible_card.already_sent::before{
        content: "";
        width: 100%;
        height: 100%;
        z-index: 2;
        background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.333) 0 20px, rgba(134, 134, 134, 0.333) 20px 60px);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        animation: user-card-animation 0.4s ease 0s 1 normal both;
    }

    &.visible_card.already_sent .check_mark {
        display: block;
        position: absolute;
        width: clamp(25px, 4vmax, 10vmax);
        height: clamp(25px, 4vmax, 10vmax);
        fill: white;
        background-color: #059605b2;
        border-radius: 50%;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        z-index: 2;

        & path {
            width: 100%;
            height: 100%;
        }
    }

}



.homework_popup_menu_item_content_teacher_card_img_wrapper {
    grid-area: img_wrapper;

    & img {
        width: 100%;
    }
}

.homework_popup_menu_item_content_teacher_card_info_block {
    grid-area: info_card;
    display: flex;
    flex-direction: column;
    align-items: start;

    & span {
        text-align: start;
        color: #024047;
        font-size: clamp(14px, 0.7vw, 1vmax);
    }

    & .user_fio {
        font-size: clamp(16px, 1.1vmax, 1.2vmax);
    }

    & span:not(:last-child) {
        margin-bottom: 10px;
    }
}

.request_btn {
    grid-area: request_btn;
    margin-left: auto;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////

.homework_popup_menu_item_content_requests_to_teachers,
.homework_popup_menu_item_content_requests_to_join_class,
.homework_popup_menu_item_content_student_subscribers,
.homework_popup_menu_item_content_accepted_teachers { 
    display: none;
}
.homework_popup_menu_item_content_requests_to_teachers.active_popup_menu_teachers_requests_list,
.homework_popup_menu_item_content_requests_to_join_class.active_popup_menu_requests_list, 
.homework_popup_menu_item_content_student_subscribers.active_popup_menu_students_list,
.homework_popup_menu_item_content_accepted_teachers.active_popup_menu_teachers_list{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10px;
}

.homework_popup_menu_item_content_compact_cards_wrapper{
    display: flex;
    margin: 0px auto;
    flex-direction: column;
    width: 90%;
    height: 100%;
    position: relative;
    align-items: center;
    overflow-x: hidden;
    & .empty_list_message {
        font-size: clamp(14px, 1vmax, 1.2vmax);
        margin: auto;
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        color: #9b9b9b;
        padding: 5px;
        border: 2px dashed #9b9b9b;
        display: none;
        &.visible {
            animation: user-card-animation 0.4s ease 0.15s 1 normal both;
            display: inline-block;
        }
    }
}

.compact_user_card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 0.5vmax;
    overflow:hidden;
    max-height: 140px;
    & .compact_user_card_inner_content_wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: clamp(5px, 0.5vmax, 2vmax);
    }
    animation: user-card-animation 0.4s ease 0s 1 normal both;
    &.deleted {
        animation: user-card-deleted-animation 0.4s cubic-bezier( 0, 1, 1, 1 ) 0s 1 normal both;
    }
}

@keyframes user-card-animation {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes user-card-deleted-animation {
    0% {
        max-height: 140px;
    }
    100% {
        margin-bottom: 0px;
        opacity: 0.5;
        max-height: 0px;
    }
}

.compact_user_card:not(:last-of-type) {
    margin-bottom: 0.8vmax;
}

.compact_user_card_inner_avatar_and_info_wrapper {
    display: flex;
    & img {
        margin-right: 10px;
        min-height: 45px;
        height: 3.3vmax;
        max-height: 3.3vmax;
    }
}

.compact_user_card_inner_info {
    display: flex;
    flex-direction: column;
    
    & span {
        text-align: start;
        color: #024047;
        font-size: clamp(12px, 0.7vw, 1vmax);
    }

    & .user_fio {
        font-size: clamp(14px, 1.1vmax, 1.2vmax);
    }

    & span:not(:last-child) {
        margin-bottom: 10px;
    }
}

.compact_user_card_buttons_wrapper {
    display: flex;
    align-items: center;
    & .deny_btn,
    & .submit_btn {
        margin:auto 0.15vmax;
        padding: clamp(5px, 0.3vmax, 2vmax);
    }
}

.deny_btn::before {
    content: "";
    display: block;
    margin: auto;
    width: clamp(16px, 1.3vmax, 2vmax);
    height: clamp(16px, 1.3vmax, 2vmax);
    background: white;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url('../../images/x-svgrepo-com.svg');
    -webkit-mask-image: url('../../images/x-svgrepo-com.svg');
}

.submit_btn::before {
    content: "";
    display: block;
    margin: auto;
    width: clamp(16px, 1.3vmax, 2vmax);
    height: clamp(16px, 1.3vmax, 2vmax);
    background: white;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url('../../images/check-mark.svg');
    -webkit-mask-image: url('../../images/check-mark.svg');
}

.gray_btn {

    background: #a5adb4;

    &:hover {
        background: #858d96;
    }

    &:active {
        background: #6c757d;
    }
}

.homework_popup_data_wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vmax;
}

// .homework_choose_data {
//     display: flex;
//     & .homework_choose_data_title {
//         color: #486c70;
//         margin: auto 5px;
//     }
// }

#add_homework_popup_date_picker {
    
}

.subject_drop_down {
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;

    & .subject_drop_down_btn {
        display: flex;
        border-radius: 0.2vmax;
        background: #f3f3f3;
        border: 1px solid #b6b6b6;
        color: #024047;
        white-space: nowrap;
        width: clamp(110px, 7vmax, 7vmax);
        &:hover {
            background: #e4e4e4;
            transition: 0.4s ease all;
        }
        &::after {
            content: "";
            display: block;
            margin: auto;
            margin-right: 5px;
            width: clamp(14px, 1vmax, 16px);
            height: clamp(14px, 1vmax, 16px);
            background: #024047;
            mask-repeat: no-repeat;
            mask-position: center;
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-position: center;
            mask-image: url('../../images/drop-down.svg');
            -webkit-mask-image: url('../../images/drop-down.svg');
            transition: all 0.2s ease;
        }

        & .subject_drop_down_header_selected {
            overflow: hidden;
            padding: 5px;
            text-overflow: ellipsis;
        }
    }

    .drop_down_li_list {
        width: 100%;
        position: absolute;
        top: 100%;
        overflow-y: scroll;
        max-height: 0px;
        visibility: hidden;
        opacity: 0;
        font-size: clamp(16px, 0.7vw, 1vmax);
        color: #024047;
        transition: opacity ease-in 0.2s, visibility ease-in 0.2s, max-height ease-in 0.2s;
        & li {
            overflow: hidden;
            padding: 5px;
            background: #f3f3f3;
            border-bottom: 1px solid #b6b6b6;
            text-overflow: ellipsis;
            cursor: pointer;
            &:hover {
                background: #b6b6b6;
                transition: 0.4s ease all;
            }
        }

        & li.selected_li {
            background: #b6b6b6;
        }
        & li:last-child {
            border-bottom: none;
        }
    }

    &.active_drop_down {

        & .subject_drop_down_btn {
           border-radius: 0.2vmax 0.2vmax 0px 0px; 
           &::after {
               transform: rotateX(180deg);
           }
        }
    
        & .drop_down_li_list {
            border-right: 1px solid #b6b6b6;
            border-left: 1px solid #b6b6b6;
            border-bottom: 1px solid #b6b6b6;
            border-radius: 0px 0vmax 0.2vmax 0.2vmax;
            max-height: 150px;
            visibility: visible;
            opacity: 1;
        }


    }

}


.homework_popup_create_homework_message 
{
    width: 100%;
    min-height: 230px;
    height: 12vmax;

    & textarea {
        padding: 10px;
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
        font-size: clamp(16px, 0.9vmax, 1vmax);
        color: #024047;
        padding: clamp(8px, 0.4vmax, 0.55vmax);
        border-radius: 0.2vmax;    
        border: 1px solid #ccc;
        resize: none;
    }
}
///////////////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width:530px) {
    .homework_wrapper {
        width: 94vw;
        margin: 1.4em auto 1.4em;
    }

    .homework_popup.teachers_and_students_editor_popup.homework_students_editor {
        width: 94vw;

        & .homework_popup_menu li {
            font-size: clamp(14px, 2.9vw, 3vw);
        }
    }

    .homework_popup {
        width: 94vw;

        & .important_field {
            display: none;
        }

        & .profile_img_choose_popup_header span {
            padding: clamp(19px, 1vmax, 1vmax) clamp(20px, 1vmax, 1vmax);
        }

    }

    .popup_warning_span {
        font-size: clamp(14px, 3vw, 3vmax) !important;
    }

    .homework_popup_buttons_wrapper .blue_btn {
        padding: clamp(7px, 1.1vw, 1.5vw) clamp(6px, 2.2vw, 2.5vw);
    }

    .popup_info_span {
        font-size: clamp(12px, 3vmin, 3.5vmin) !important;
    }

    .homework_popup_menu_item_content_teacher_card,
    .homework_popup_menu_item_content_join_inner_content {
        width: 90%;
    }

    .homework_popup_menu_item_content_compact_cards_wrapper { // homework_popup_menu_item_content_requests_to_teacher_cards_list
        width: 100%;
    }
}