.school_marks_calculate_btn {
    &::before {
        mask-image: url('../../images/calculate.svg');
        -webkit-mask-image: url('../../images/calculate.svg');
    }
}

.homework_popup.add_school_marks.school_marks_add_marks_popup,
.homework_popup.calculate_school_marks.school_marks_calculate_marks_popup {
    display: flex;
    width: clamp(500px, 35vw, 62vw);
}

.marks_popup_students_list_wrapper {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    background: #f0f2f5;
    padding: 10px;
    color: #024047;


    & .marks_popup_students_list {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px auto;

        & .marks_popup_students_list_student_record {
            display: flex;
            background: white;
            padding: clamp(5px, 0.5vmax, 2vmax);
            border-radius: 5px;
            position: relative;
            transition: 0.4s ease background-color;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        & .marks_popup_students_list_student_record.blocked_record {
            background: #00000060;
            pointer-events: none;

            & .marks_popup_student_record_desc_input,
            & .marks_popup_student_record_mark_input {
                background: rgba(255, 255, 255, 0.555);
            }
        }

        & .marks_popup_students_list_student_record.deleted_user {
            background: #ff00004f;
        }

        & .marks_popup_students_list_student_record.edited_record {
            background: #0183da73;
        }


        & .marks_popup_student_record_img_wrapper {
            min-height: 45px;
            height: 3.5vmax;
            max-height: 50px;
            margin-right: 10px;

            & img {
                height: 100%;
                border-radius: 5px;
            }
        }

        & input {
            border: 1px solid #b6b6b6;
            font-size: clamp(14px, 0.7vw, 1vmax);
            color: #024047;
            padding: 4px 6px;
            background: white;
            border-radius: 3px;
        }

        & .marks_popup_student_record_inner_content_wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;

            & .user_fio {
                font-size: clamp(16px, 0.7vw, 1vmax);
                margin-bottom: auto;
                text-align: start;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            & .marks_popup_student_record_name_and_description_wrapper {
                display: flex;

                & .marks_popup_student_record_desc_input {
                    width: 100%;
                    margin-right: 5px;
                }

                & .marks_popup_student_record_mark_input {
                    width: 14%;
                    min-width: 50px;
                    height: fit-content;
                    margin-top: auto;
                }
            }

        }

    }
}

.marks_popup_students_list_wrapper .homework_week_days_list .drop_down_with_title  {

    &.no_homework .drop_down_with_title_title {
        background: #00000060;
    }
    & .drop_down_with_title_title {
        background: #dfdfdf;
    }
    
    & .drop_down_with_title_content_wrapper {
        background: white;
    }
}


.deleted_user .drop_down_with_title_title{
    background: #ff00004f !important;
}

#calculateMarksPopupInputBlock {
    margin: 0px;

    & .marks_popup_students_list_wrapper {
        height: 450px;
    }
}

.marks_table {
    border-collapse: collapse;
    width: 100%;


    & tr th {
        font-size: clamp(16px, 0.7vw, 1vmax);
        padding: 10px;
        text-align: center;
        border: 1px solid #b6b6b6;
        background-color: #f2f4f5;
    }

    & tr th:first-of-type {
        text-align: left;
    }
    & tr td {
        border: 1px solid #b6b6b6;
        text-align: left;
        padding: 10px;
        font-size: clamp(16px, 0.7vw, 1vmax);
    }

    & tr .marks_field {
        text-align: center;
        width: 25%;
    }
}

.homework_task_wpapper .marks_table:not(:last-of-type) {
    margin-bottom: 10px;
}